    /* Start Global Rules */
    :root{
        --maincolor:#00c7fc;
        --secondarycolor:#ffffff;
        --backgroundcolor: rgb( 16 148 183/50%);
        --graycolor: #575757;
        
    }
*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family:"Open  Sans" , sans-serif;
}

.container{
    padding: 0px 15px;
    margin-right: auto;
    margin-left: auto;  
}
    /* small */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
    /* Medium */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
    /* Large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
    /* End Global Rules */
    /* Start Header */
    header {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    .header ul {
        list-style: none;
    }
    .header .container{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .container img{
        width:146px;
    }
    .header .container::after{
        content: '';
        position: absolute;
        background-color: black;
        width: calc(100% - 30px);
        height: 1px;
        bottom: 0px;
        left: 18px;
    }
    .links{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    }
    .links ul {
        display: flex;
        gap: 32px;
    }
    .links ul li a{
        display: block;
        position: relative;
        color: var(--secondarycolor);
        z-index: 2;
        text-decoration: none;
        font-size: 13px;
        font-weight: 600;
        transition: 0.3s;
        padding: 40px 10px;
        
    }
    .links ul li a:hover,
    .links ul li a.active
    {
        color: var(--maincolor);
        border-bottom: 1px solid var(--maincolor);
    }
    .search{
        position: relative;
        padding-right: 5px;
        width: 50px;
        height: 40px;
        border-left: 1px solid var(--secondarycolor) ;
    }
    .search i {
        position: absolute;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 9px;
        color: var(--secondarycolor);
    }
    /* End Header */
    /* start landing */
    .landing{
        min-height: 100vh;
        background-color: black;
        background-image: url("../images/landing.jpg");
        background-size: cover;
        position: relative;
    }
    .landing .first-icon {
            top: 48%;
            position: absolute;
            font-size: 46px;
            left: 1%;
            color: rgb(255 255 255 /50%);
        }
    .landing .second-icon{
        top: 48%;
        position: absolute;
        font-size: 46px;
        right: 1%;
        color: rgb(255 255 255 /50%);
    }

    .bullets{
        display: flex;
        position: absolute;
        top: 96%;
        right: 47%;
        gap: 22px
    }
    .bullets li{
        list-style: none;
        border:1px solid var(--secondarycolor);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        }
        .bullets .active{
            background-color: var(--maincolor);
        }

    .image-edit{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 40%) ;
    }
    .landing-text{
        position: absolute;
        width: 50%;
        top: 50%;
        padding: 77px;
        background-color: var(--backgroundcolor);
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-end;
    }
    .introtext{
        width:calc(100% - 60px);
    }
    .introtext i{
        display: flex;
        justify-content: end;
    }
    .landing-text .introtext h2{
        flex-wrap: wrap;
        font-size: 30px;
        line-height: 50px;
        color: var(--secondarycolor);
        font-weight: 400;
    }
    .landing-text .introtext p{
        font-size: 13px;
        line-height: 28px;
        color: var(--secondarycolor);
        font-weight: 400;
    }
    /* End Landing */
    /* start services */
    .services{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .services-introtext{
        text-align: center;
    }
    .services h2::before{
        content: "";
        position: absolute;
        background-color: black;
        height: 1px;
        width: 123px;
        bottom: -110px;
        right: 46%;
    }
    .services h2::after{
        content: "";
        position: absolute;
        width: 18px;
        height: 17px;
        border: 1px solid black;
        border-radius: 50%;
        background-color: var(--secondarycolor);
        bottom: -119px;
        right: 49.2%;
    
    }
    .services h2{
        font-size: 30px;
        letter-spacing: 2px;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-weight: 400;
    }
    .services .services-introtext p {
        width: 441px;
        position: absolute;
        margin-bottom: 100px;
        margin-top: 14px;
        right: 36%;
        font-size: 13px;
        line-height: 25px;
        color:var(--graycolor);
        font-weight: 300;
    }
    .services-options{
        padding-bottom: 100px;
        padding-top: 196px;
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(450px,1fr));
        gap:108px;
    }
    .services-cards{
        display: flex;
    }
    .services-cards i{
        font-size: 40px;
    }
    .services-text h3{
        margin: 0;
        font-size: 20px;
        color: var(--maincolor);
        font-weight: 400;
        padding-bottom: 25px;
    }
    .services-text p { 
        font-size: 13px;
        line-height: 24px;
        color: var(--graycolor);
        font-weight: 400;
    }
    .services-text p , h3 {
        padding-left:60px
    }
    /* End services */
    /* start designs */
    .designs{
        min-height: 100vh;
        background-color: black;
        background-image: url("../images/design-features.jpg");
        background-size: cover;
        position: relative;
    }
    .designs .image-edit{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 35%) ;
    }
    .designs-info{
        position: absolute;
        width: 50%;
        top: 50%;
        padding: 77px;
        right: 0%;
        background-color: var(--backgroundcolor);
        transform: translateY(-50%);
    }
    .designs-introtext h2{
        flex-wrap: wrap;
        font-size: 26px;
        line-height: 3.1;
        color: var(--secondarycolor);
        font-weight: 400;
    }
    .designs-options{
        display: grid;
        left: 16%;
        bottom: 15%;
        gap: 25px;
        padding-top: 19px;
    }
    .designs-options .options {
        display: flex;
    }
    .designs-options .options i{
        padding-right: 25px;
        font-size: 30px;
        color: var(--secondarycolor);
    }
    .designs-options .options p{
        font-size: 16px;
        color: var(--secondarycolor);
        font-weight: 400;
    }
    /* End designs */
    /* start portfolio */
    .portfolio{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .portfolio-introtext{
        text-align: center;
    } 
    .portfolio-introtext h2::before{
        content: "";
        position: absolute;
        background-color: black;
        height: 1px;
        width: 108px;
        transform: translateY(43px);
        right: 47%;
    }
    .portfolio-introtext h2{
        text-transform: uppercase;
        padding-bottom: 50px;
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 400;
    }
    .portfolio-introtext h2::after{
        content: "";
        position: absolute;
        border: 1px solid black;
        border-radius: 50%;
        background-color: var(--secondarycolor);
        height: 15px;
        width: 16px;
        transform: translateY(34px);
        right: 50%;
    }
    .portfolio-introtext p{
        font-size: 13px;
        line-height: 25px;
        color: var(--graycolor);
        font-weight: 300;
        width: 417px;
        transform: translatex(84%);
    }
    .portfolio-options{
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
    }
    .portfolio-options  .portfolio-content ul{
        position: absolute;
        display: flex;
        text-transform: uppercase;
        list-style: none;
        justify-content: space-between;
        gap: 49px;
        align-items: center;
        transform: translate(62%, 11px);
    }
    .portfolio-options  .portfolio-content li{
        font-size: 13px;
        font-weight: 400;
    }

    .portfolio-options  .portfolio-content li.active{
        border: 1px solid var(--maincolor);
        border-width: 20px;
        background-color: var(--maincolor);
        color: var(--secondarycolor);
    }
    .images-container{
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;

    }
    .images-container .box{
        flex-basis: 25%;
    }
    .images-container .box img{
        max-width: 100%;
        margin-bottom:25px ;
        transition: 0.3s;
    }
    .images-container .box:hover img{
        transform: rotate(5deg) scale(1.2);
    }
    .images-container .images-text{
        margin-bottom:20px ;
        padding-left:20px ;
    }
    .images-container .images-text h4{
        font-size: 20px;
        font-weight: 400;
    }
    .images-container .images-text p{
        color: var(--maincolor);
        font-size: 13px;
        font-weight: 400;
    }
    .More{
    padding: 11px 42px;
    display: block;
    color: var(--secondarycolor);
    width: fit-content;
    background-color: var(--maincolor);
    margin: 20px auto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    }
    /* End portfolio */
    /* start video */
    .video{
        position: relative;
    }
    .video video{
        width: 100%;
    }
    .video::before{
        content: "";
        position: absolute;
        top:0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 40%) ;
    }
    .video-text{
        position: absolute;
        top: 44%;
        left: 0%;
        background-color: var(--backgroundcolor);
        text-align: center;
        width: 100%;
        padding: 60px;
    }
    .video-text h2{
        font-size: 25px;
        color: var(--secondarycolor);
        font-weight: 600;
        line-height: 2.8;
        text-transform: uppercase;
    }
    .video-text p {
        font-size: 13px;
        color: var(--secondarycolor);
        font-weight: 400;
        margin-bottom: 46px;
    }
    .video-text .button{
        color: var(--secondarycolor);
        position: absolute;
        background-color: rgb(0 0 0 / 70%);
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 11px 36px;
        width: fit-content;
        left: 45%;
    }
    /* End video */
    /* start about */
    .about{
        padding-top:60px;
        overflow: hidden;
    }
    .about .container .about-introtext{
        text-align: center;
    }
    .about .container .about-introtext h3::before {
        content: "";
        width: 8%;
        margin-top: 30px;
        position: absolute;
        height: 1px;
        background-color: black;
        transform: translate(-7px, 19px);
    }
    .about .container .about-introtext h3 {
        margin-bottom: 36px;
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 400;
    }
    .about .container .about-introtext h3::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 17px;
        border: 1px solid black;
        border-radius: 50%;
        background-color: var(--secondarycolor);
        right: 49.2%;
        transform: translate(18px, 40px);
    }
    .about .container .about-introtext p {
        font-size: 13px;
        line-height: 25px;
        color: var(--graycolor);
        font-weight: 300;
        width: 500px;
        right: 33%;
        position: absolute;
    }
    .about img{
        position: relative;
        right:-14%;
        bottom: -105px;
        max-width: 100%;
    }
    /* End about */
    /* start statics */
    .statics{
        padding-top: 60px;
        position: relative;
        background-image: url(../images/stats.png);
        background-size:cover ;
        min-height: 100vh;
    }
    .statics .container{
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundcolor);
    position: absolute;
    padding: 60px;
    top: 44%;
    width: 100%;
    }
    .statics::before{
        content: "";
        position: absolute;
        top:0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 50%);
    }
    .statics-options{
        text-align: center;
    }
    .statics-options i{
        color: var(--secondarycolor);
        background-color: rgb(0 0 0 / 70%) ;
        border-radius: 50%;
        display: flex;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
    }
    
    .statics-options h4{
    font-size: 51px;
    letter-spacing: 3px;
    line-height: 76px;
    color: var(--secondarycolor);
    font-weight: 700;
    }

    .statics-options p{
        font-size: 13px;
        line-height: 24px;
        color: var(--secondarycolor);
        font-weight: 300;
    }
    /* End statics */
    /* start screens */
    .screens{
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
    }
    .screens .container{
        display: flex;
    }
    .screens .screen-one{
        margin-right: 40px;
    }
    .screens .screen-two{
        margin-left: 40px;
    }
    .screens .screen-one p , .screen-two p {
        font-size: 13px;
        line-height: 25px;
        color: var(--graycolor);
        font-weight: 300;       
    }
    .screens .screen-one .screen-one-introtext p , .screens .screen-two .screen-two-introtext p{
        text-align: center;
        margin-bottom: 50px;
    }
    .screen-one .screen-one-introtext h2 , .screen-two .screen-two-introtext h2{
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 50px;
    }
    .screen-onedata1{
        padding-bottom: 50px;
    }
    .name{
        width: 246px;
        margin-top: 22px;
        font-size: 13px;
        font-style: italic;
        color: var(--graycolor);
        font-weight: 300;
    }
    .screen-onedata1 , .screen-onedata2{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: calc(500px - 50px);
    }
    .screen-onedata1 p , .screen-onedata2 p {
        transform: translate(62px, -25px);
        font-size: 13px;
        line-height: 25px;
        color: var(--graycolor);
        font-weight: 300;
    }
    .screen-onedata1 p::before , .screen-onedata2 p::before{
        content: "";
        width: 104%;
        margin-left: 9px;
        margin-top: 70px;
        position: absolute;
        height: 1px;
        background-color: black;
        transform: translate(-7px, 19px);
    }
    .screen-onedata1 img , .screen-onedata2 img{
        background-color: rgb(0 0 0 / 70%);
        border-radius: 50%;
        display: flex;
        margin: 10px auto;
        height: 100px;
        width: 100px;
    }
    .screen-one .bullets{
        position: absolute;
        display: flex;
        top: 90%;
        right: 65%; 
        gap: 22px
    }
    .screen-one .bullets li{
        list-style: none ;
        border:1px solid  rgb(0 0 0 / 70%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        }
    .screen-one .bullets .active{
            background-color: var(--maincolor);
        }
        .prog-holder{
            margin-bottom: 40px;
        }
        .prog-holder  h4 {
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            text-transform: uppercase;
            }
        .prog-holder .prog {
        background-color: var(--graycolor);
        height: 28px;
        }
        .prog-holder .prog span {
            display: block;
            position: relative;
            background-color: var(--maincolor);
            height: 100%;
        }
        .prog-holder .prog span::before{
            content: attr(data-progress);
            position: absolute;
            top: -86%;
            right: -3%;
            background-color: black;
            color: var(--secondarycolor);
            padding: 2px;
        }
        .prog-holder .prog span::after{
            content: "";
            position: absolute;
            right: -2%;
            border-style: solid;
            border-color: black  transparent transparent transparent;
            border-width: 8px;
        }
        /* End screens */
        /* start quote */
        .quote{
            padding-top: 60px;
            background-image: url(../images/quote.jpg);
            min-height: 100vh;
            background-size: cover;
            position: relative;
        }
        .quote::before{
                content: "";
                position: absolute;
                top:0%;
                left: 0%;
                width: 100%;
                height: 100%;
                background-color: rgb(0 0 0 / 50%);
        }
        .quote .container{
            display: flex;
            justify-content: space-between;
            position: absolute;
            padding: 60px;
            top: 44%;
            width: 100%;
        }
        .quote .quote-introtext{
            text-align: center;
            max-width: 1200px;
            position: absolute;
            color: var(--secondarycolor);
            right: 15%;
            transform: translateY(50px);
        }
        /* .quote .quote-introtext h2::before{
            content: "";
            position: absolute;
            top:0%;
            left: 0%;
            width: 100%;
            height: 75%;
            background-color: rgb(0 0 0 / 50%);
        } */
        .quote .quote-introtext h2 {
            font-size: 25px;
            line-height: 35px;
            text-transform: uppercase;     
        }
        .quote .quote-introtext p {
            margin-top: 25px;
            font-size: 13px;
            font-weight: 600;           
        }
        /* End quote */